* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

:root {
  --dark-blue: hsl(233, 26%, 24%);
  --Lime-Green: hsl(136, 65%, 51%);
  --Bright-Cyan: hsl(192, 70%, 51%);
  --Grayish-Blue: hsl(233, 8%, 62%);
  --Light-Grayish-Blue: hsl(220, 16%, 96%);
  --Very-Light-Gray: hsl(0, 0%, 98%);
  --White: hsl(0, 0%, 100%);
  --Font-size: 18px;
  --Family: [Public Sans](https://fonts.google.com/specimen/Public+Sans);
  --Weights: 300, 400;
  --Familys: "Public Sans", sans-serif;
  /* --Familys:(https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Public+Sans) */
}
.outerflex {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: var(--Very-Light-Gray);
  /* background-color: var(--Light-Grayish-Blue); */
  /* height: 100%; */
}
.header {
  display: flex;
  position: relative;
  z-index: 3;
  justify-content: space-between;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  background-color: white;
  /* background-color: var(--dark-blue); */
  object-fit: contain;
  width: 100%;
  height: 4em;
}
.headerEE {
  display: none;
}
.backpicEE {
  display: none;
}

.main {
  align-self: center;
  align-self: flex-end;
}

.logo {
  padding-left: 1.6rem;
  width: 12em;
  align-self: center;
  margin-top: 2em;
}
.manu {
  position: relative;
  width: 4em;
  padding-right: 2em;
  cursor: pointer;
}
.pictures {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.phoepic {
  position: absolute;
  object-fit: contain;
  z-index: 2;
  width: 94%;
  right: 0.8em;
  top: -3.9em;
  align-self: center;
}
.backpic {
  position: absolute;
  width: 100%;
  object-fit: contain;
  top: 0.8em;
}
.txet {
  color: black;
}
.content {
  display: flex;
  flex-direction: column;
  flex-direction: center;
  margin-top: 16rem;
  /* padding-top: 40em; */
  width: 100%;
  align-items: center;
  text-align: center;
}
h1 {
  width: 95%;
  align-self: center;
  padding-bottom: 1em;
  padding-top: 1.5em;
  font-weight: 400;
  font-size: 3em;
  font-family: var(--Familys);
  color: var(--dark-blue);
}
.head2 {
  width: 95%;
  font-size: 2.2em;
  padding-bottom: 0.5em;
  padding-left: 0.4em;
}
p {
  width: 90%;
  align-self: center;
  color: var(--Grayish-Blue);
  padding-bottom: 2em;
}
img {
  width: 5rem;
  align-self: center;
  padding-bottom: 2em;
}
h2 {
  font-family: var(--Familys);
  padding-bottom: 1em;
  font-weight: 100;
  font-size: 1.4em;
  color: var(--dark-blue);
}
h3 {
  width: 95%;
  align-self: center;
  font-size: var(--Font-size);
  color: var(--dark-blue);
}
.mainhead {
  padding-left: 0.4em;
  font-size: 2.7em;
  font-family: var(--Familys);
}
.mainpara {
  padding-left: 1em;
  font-family: var(--Familys);
}
.heading {
  font-size: 2.3em;
  color: var(--dark-blue);
}
.button {
  width: 12rem;
  align-self: center;
  height: 3em;
  border-radius: 2em;
  background-image: linear-gradient(
    to right,
    var(--Lime-Green),
    var(--Bright-Cyan)
  );
  border: none;
  font-weight: bold;
  color: white;
  font-size: medium;
  margin-bottom: 6em;
}
.page2 {
  background-color: var(--Light-Grayish-Blue);
  padding-top: 0.9em;
  padding-bottom: 2em;
  margin-bottom: 2em;
}
.para1 {
  width: 98%;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  line-height: 1.6em;
  padding-top: 0.4em;
  padding-bottom: 3.6em;
  font-size: 16px;
  font-family: var(--Familys);
}
.para {
  width: 98%;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  line-height: 1.6em;
  margin: -0.2em;
  font-size: 15px;
  font-family: var(--Familys);
}
.photos {
  width: 87%;
  height: 15em;
  border-radius: 0.5em;
}
.heading2 {
  position: relative;
  font-weight: lighter;
  margin-bottom: 1em;
  font-family: var(--Familys);
  margin-bottom: 0.4em;
  width: 18em;
  padding-left: 1.2em;
  text-align: left;
  line-height: 1.2em;
  color: var(--dark-blue);
}
.smallhead {
  font-size: 0.7em;
  text-align: left;
  font-family: var(--Familys);
  padding-left: 2em;
  padding-top: 2.8em;
  padding-bottom: 1em;
}

.Articlespara {
  width: 92%;
  text-align: left;
  padding-left: 1.4em;
  font-family: var(--Familys);
  font-size: 14px;
  line-height: 1.4em;
  padding-bottom: 3em;
}
.Artical {
  width: 88%;
  background-color: white;
  align-self: center;
  margin-left: 1.4em;
  margin-top: -2.3em;
  margin-bottom: 1.8em;
  padding-bottom: 1em;
  border-radius: 1em;
}
.Articallast {
  width: 88%;
  background-color: white;
  align-self: center;
  margin-left: 1.4em;
  margin-top: -2.3em;
  margin-bottom: 6em;
  padding-bottom: 1em;
  border-radius: 1em;
}
.footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  align-content: space-between;
  background-color: var(--dark-blue);
  padding-top: 0.6em;
}
.socialmedia {
  display: flex;
  object-fit: contain;
  width: 17em;
  align-self: center;
  margin-left: 1.7em;
}
.downlogo {
  width: 9.5em;
  margin-top: 2.2em;
  color: white;
}
.media {
  padding-left: 1.5em;
  margin-bottom: 0.8em;
}
.options {
  color: var(--White);
  font-weight: 100;
  padding-bottom: 1.3em;
  font-family: var(--Familys);
  font-size: 1em;
  margin-left: 1.2em;
}
.button2 {
  width: 12rem;
  align-self: center;
  height: 3em;
  border-radius: 2em;
  background-image: linear-gradient(
    to right,
    var(--Lime-Green),
    var(--Bright-Cyan)
  );
  border: none;
  font-weight: bold;
  color: white;
  font-size: medium;
  margin-bottom: 2.5em;
  margin-top: 1.3em;
}
.right {
  font-family: var(--Familys);
}
.dropdown_content {
  display: none;
  position: absolute;
  background-color: white;
  width: 19em;
  text-align: center;
  box-shadow: 20px 20px 20rem 2px rgb(22, 22, 22);
  z-index: 1;
  margin-left: -17em;
  padding: 2em 4em;
  border-radius: 3%;
}
.dropdown_content a {
  color: black;
  display: block;

  text-decoration: none;
  padding: 0.5em;
}
.close {
  display: none;
  width: 1.3em;
  margin-top: -0.3em;
  margin-left: -3.5em;
}

.dropdown_content a:hover {
  background-color: black;
  color: white;
}
.home:hover .dropdown_content {
  display: block;
  background-color: white;
  left: 19.5em;
}
.home:hover {
  .close {
    display: block;
  }
  .manu {
    display: none;
  }
}

@media (min-width: 1024px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  h1 {
    font-weight: 400;
    font-size: 3em;
    font-family: var(--Familys);
    color: var(--dark-blue);
  }
  h2 {
    font-size: 28px;
  }
  .outerflex {
    width: 100rem;
    overflow: hidden;
    position: relative;
  }
  .header {
    display: none;
  }
  .headerEE {
    position: relative;
    z-index: 3;
    display: block;
    display: flex;
    width: 100%;
    justify-content: space-around;
    height: 6em;
    background-color: white;
  }
  .dropdown_contentEE {
    position: relative;
    right: 2.4em;
    display: flex;
    justify-content: row;
    position: relative;
    top: 1em;
    color: black;
    font-family: var(--Familys);
    font-size: var(--Font-size);
  }
  .contentEE {
    padding-left: 1em;
    padding-right: 1em;
    cursor: pointer;
    text-align: center;
  }
  .logo {
    position: relative;
    left: 1.8em;
  }
  .buttonEE {
    position: relative;
    right: 3em;
    width: 12rem;
    align-self: center;
    height: 3em;
    border-radius: 2em;
    background-image: linear-gradient(
      to right,
      var(--Lime-Green),
      var(--Bright-Cyan)
    );
    border: none;
    font-weight: bold;
    color: white;
    font-size: medium;
    cursor: pointer;
  }
  .main {
    /* position: relative; */
    margin-bottom: -33.1em;
  }
  .page1contentEE {
    position: relative;
    right: 23.2em;
    bottom: 37em;
  }
  .pictures {
    position: relative;
    object-fit: contain;
    margin-bottom: -100%;
  }
  .mainhead {
    padding-left: 0em;
    font-family: var(--Familys);
    font-size: 3.8em;
    text-align: left;
    margin-bottom: -0.6em;
  }
  .mainpara {
    padding-left: 0em;
    text-align: left;
    font-size: 20px;
    width: 26.5em;
    line-height: 1.5em;
  }
  .button {
    position: relative;
    right: 32.2em;
    bottom: 37em;
    cursor: pointer;
  }
  .phoepic {
    position: relative;
    object-fit: contain;
    z-index: 2;
    left: 33.5em;
    top: -8.2em;
    width: 50em;
  }
  .backpicEE {
    padding: 0em;
    position: relative;
    object-fit: contain;
    display: block;
    z-index: 1;
    width: 80em;
    bottom: 79em;
    left: 37.5em;
  }
  .home {
    display: none;
  }
  .backpic {
    display: none;
  }

  .page1contentEE {
    width: 30em;
  }
  .page2 {
    display: flex;
    width: 100%;
    flex-direction: column;
    position: relative;
    z-index: 1;
    bottom: 33em;
  }
  .easybank {
    position: relative;
    left: 12em;
  }
  .head2 {
    padding-left: 0em;
    width: 95%;
    position: relative;
    right: 10.4em;
    font-size: 3em;
  }
  .para1 {
    position: relative;
    right: 1.1em;
    width: 40em;
    font-size: 20px;
    text-align: start;
  }
  .bankingdetails {
    display: flex;
    width: 75em;
    position: relative;
    left: 12em;
  }
  .bankelementsEE {
    position: relative;
    text-align: left;
  }
  .para {
    position: relative;
    right: 0.8em;
    font-size: 16px;
    text-align: left;
  }
  .heading {
    position: relative;
    bottom: 12em;
    right: 10.8em;
    font-size: 43px;
  }
  .Articaldiv {
    position: relative;
    width: 100em;
    display: flex;
    bottom: 31em;
  }
  .photos {
    position: relative;
    width: 19em;
    padding-left: 2em;
    right: 2em;
  }
  .heading2 {
    width: 12em;
    cursor: pointer;
  }
  .Artical {
    position: relative;
    width: 17em;
    right: 1.4em;
    height: 14em;
  }
  .Articallast {
    position: relative;
    width: 17em;
    right: 1.4em;
    height: 14em;
  }

  .wholeArticalEE {
    position: relative;
    left: 12em;
  }
  .footer {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    position: relative;
    bottom: 33em;
    padding-bottom: 2em;
  }
  .downlogo {
    position: relative;
    bottom: 2em;
    left: 9em;
  }
  .socialmedia {
    position: relative;
    right: 7.8em;
    top: 5.5em;
    width: 2em;
    padding-bottom: 2em;
    margin-left: 0em;
  }
  .footer2 {
    display: flex;
    position: relative;
    left: 5em;
    width: 15em;
    text-align: left;
    top: 0.9em;
  }
  .footer21 {
    width: 6em;
    position: relative;
    left: 0.5em;
    top: 1.5em;
  }
  .footer22 {
    width: 8em;
    position: relative;
    left: 7.2em;
    top: 1.5em;
  }
  .footer3 {
    width: 50em;
  }
  .button2 {
    position: relative;
    left: 8em;
    cursor: pointer;
  }
  .right {
    position: relative;
    left: 9em;
  }
  .contentEE:hover {
    border-bottom: 10px solid;
    border-image: linear-gradient(
        to right,
        var(--Lime-Green),
        var(--Bright-Cyan)
      )
      1;
  }
  .options {
    margin-left: 0em;
    cursor: pointer;
  }
  .options:hover {
    color: var(--Lime-Green);
  }
  .heading2:hover {
    color: var(--Lime-Green);
  }
  .media:hover a > svg > path {
    fill: var(--Lime-Green);
  }
}
